In [16]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: certifi in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\user\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [17]:
## first import important libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.action_chains import ActionChains

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

1.	First get the webpage https://www.naukri.com/

In [18]:
# first connecting with webdriver
driver=webdriver.Chrome(r"C:\Users\user\Desktop\drivers\chromedriver")

In [19]:
driver.implicitly_wait(10)

In [20]:
# opening website using webdriver 
url = 'https://www.naukri.com/'
driver.get(url)

2.	Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

In [21]:
# lets type keywords to search for a job
job_search = driver.find_element(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[3]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/input[1]')
job_search.send_keys('Data Analyst')

In [22]:
# lets type the keyword to search for location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

3.	Then click the search button.

In [23]:
# lets click on search
ser_loc = driver.find_element(By.CLASS_NAME,"qsbSubmit")
ser_loc.click()

4.	Then scrape the data for the first 10 jobs results you get.

In [25]:
# first we will create 4 empty list for job_title, job_location, company_name and required_experience
job_title = []
job_location = []
company_name = []
experience_required = []

# lets scrap all the job title first using xpath

for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]'):   # getting all the title tags
    job_title.append(i.text)                                                    # getting the texts of titles
    job_title=job_title[:10]                                                    # as we need first 10 job position only
    
# lets scrap the locations using xpath

for i in driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']"): # getting the tags for job location by xpath through parent tag ('li')
    job_location.append(i.text)                 # text for job_location
    job_location = job_location[:10]            # as we need first 10 job locations only
    
# lets scrap the company name using xpath

for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]'):  # getting tags for company_name
    company_name.append(i.text)                 # getting text in list
    company_name = company_name[:10]            # as we need first 10 company names only
    
 # lets scrap the last list experience_required using xpath

for i in driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']"):  # for tags of experience through parent tag(li)
    experience_required.append(i.text)                    # getting text in list
    experience_required = experience_required[:10]        # as we need first 10 experience_required only

In [26]:
#lets 10 titles of job
job_title

['Senior Data Analyst',
 'Data Analyst/Sr. Data Analyst',
 'Sr.Business Data Analyst',
 'Business Data Analyst (Sr Exe / Asst Manager)',
 'Principal Data Analyst',
 'Data Analyst / Product Analyst / Business Analyst',
 'Data Analyst',
 'Data Analyst I',
 'Data Analyst - Data and Analytics',
 'Senior Data Analyst']

In [27]:
#lets 10 job location
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [28]:
#lets check the company name
company_name

['ANZ',
 'Brillio',
 'Collabera',
 'Talent Leads HR Solutions Pvt Ltd',
 'SVB Global Services India LLP',
 'Benchire',
 'Brillio',
 'Cerner',
 'Intel',
 'Flipkart']

In [29]:
#lets check the experience
experience_required

['2-3 Yrs',
 '3-8 Yrs',
 '6-11 Yrs',
 '3-6 Yrs',
 '5-7 Yrs',
 '2-5 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '3-7 Yrs']

In [30]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

5.	Finally create a dataframe of the scraped data.

In [31]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'experience_required':experience_required})
df

,Job_title,Job_location,Company_name,experience_required
0,Senior Data Analyst,Bangalore/Bengaluru,ANZ,2-3 Yrs
1,Data Analyst/Sr. Data Analyst,Bangalore/Bengaluru,Brillio,3-8 Yrs
2,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Collabera,6-11 Yrs
3,Business Data Analyst (Sr Exe / Asst Manager),"Bangalore/Bengaluru, Delhi / NCR",Talent Leads HR Solutions Pvt Ltd,3-6 Yrs
4,Principal Data Analyst,Bangalore/Bengaluru,SVB Global Services India LLP,5-7 Yrs
5,Data Analyst / Product Analyst / Business Analyst,"Bangalore/Bengaluru, Delhi / NCR",Benchire,2-5 Yrs
6,Data Analyst,Bangalore/Bengaluru,Brillio,4-7 Yrs
7,Data Analyst I,Bangalore/Bengaluru,Cerner,5-10 Yrs
8,Data Analyst - Data and Analytics,Bangalore/Bengaluru,Intel,3-6 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-7 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:

1.	First get the webpage https://www.naukri.com/

In [32]:
# first connecting with webdriver
driver=webdriver.Chrome(r"C:\Users\user\Desktop\drivers\chromedriver")

In [33]:
# opening website using webdriver 
url = 'https://www.naukri.com/'
driver.get(url)

2.	Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.

In [34]:
# lets type keywords to search for a job
job_search = driver.find_element(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[3]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/input[1]')
job_search.send_keys('Data scientist')

In [35]:
# lets type the keyword to search for location
location=driver.find_element(By.XPATH,"/html[1]/body[1]/div[1]/div[2]/div[3]/div[1]/div[1]/div[5]/div[1]/div[1]/div[1]/input[1]")
location.send_keys('Bangalore')

3.	Then click the search button.

In [36]:
# lets click on search
ser_loc = driver.find_element(By.CLASS_NAME,"qsbSubmit")
ser_loc.click()

4.	Then scrape the data for the first 10 jobs results you get.

In [37]:
# first we will create 4 empty list for job_title, job_location, company_name and required_experience
job_title = []
job_location = []
company_name = []
experience_required = []

# lets scrap all the job title first using xpath

for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]'):   # getting all the title tags
    job_title.append(i.text)                                                    # getting the texts of titles
    job_title=job_title[:10]                                                    # as we need first 10 job position only
    
# lets scrap the locations using xpath

for i in driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']"): # getting the tags for job location by xpath through parent tag ('li')
    job_location.append(i.text)                 # text for job_location
    job_location = job_location[:10]            # as we need first 10 job locations only
    
# lets scrap the company name using xpath

for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]'):  # getting tags for company_name
    company_name.append(i.text)                 # getting text in list
    company_name = company_name[:10]            # as we need first 10 company names only
    
 # lets scrap the last list experience_required using xpath

for i in driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']"):  # for tags of experience through parent tag(li)
    experience_required.append(i.text)                    # getting text in list
    experience_required = experience_required[:10]        # as we need first 10 experience_required only

In [38]:
#lets check the title
job_title

['Data scientist _Tata Consultancy Services(Tcs)',
 'Data Science Senior Analyst',
 'Data Scientist - II',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Sr Data Scientist',
 'Hiring For Senior Data Scientist']

In [39]:
#lets 10 job location
job_location

['Bangalore/Bengaluru, Kochi/Cochin, Indore, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, delhi ncr',
 'Bangalore/Bengaluru, India, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune']

In [40]:
#lets check the company name
company_name

['TATA CONSULTANCY SERVICES (TCS)',
 'Accenture',
 'SMARTPADDLE TECHNOLOGY PVT. LTD.',
 'Wipro',
 'Applied Materials',
 'Applied Materials',
 'Applied Materials',
 'Applied Materials',
 'Caterpillar Inc',
 'TATA CONSULTANCY SERVICES (TCS)']

In [41]:
#lets check the experience
experience_required

['9-14 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '11-21 Yrs',
 '7-10 Yrs',
 '7-10 Yrs',
 '7-10 Yrs',
 '7-10 Yrs',
 '1-10 Yrs',
 '8-13 Yrs']

In [42]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

5.	Finally create a dataframe of the scraped data.

In [43]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'experience_required':experience_required})
df

,Job_title,Job_location,Company_name,experience_required
0,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS),9-14 Yrs
1,Data Science Senior Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-5 Yrs
2,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",SMARTPADDLE TECHNOLOGY PVT. LTD.,3-6 Yrs
3,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro,11-21 Yrs
4,Data Scientist,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
5,Data Scientist,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
6,Data Scientist,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
7,Data Scientist,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
8,Sr Data Scientist,Bangalore/Bengaluru,Caterpillar Inc,1-10 Yrs
9,Hiring For Senior Data Scientist,"Bangalore/Bengaluru, Pune",TATA CONSULTANCY SERVICES (TCS),8-13 Yrs

# Q3:-scrape data using the filters available on the webpage as shown below:

In [44]:
# You have to use the location and salary filter.
#You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-
#location, company name, experience required.
#The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [45]:
# first connecting with webdriver
driver=webdriver.Chrome(r"C:\Users\user\Desktop\drivers\chromedriver")

1.	first get the webpage https://www.naukri.com/

In [46]:
# opening website using webdriver 
url = 'https://www.naukri.com/'
driver.get(url)

2.	Enter “Data Scientist” in “Skill, Designations, and Companies” field.

In [47]:
# lets type keywords to search for a job
job_search = driver.find_element(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[3]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/input[1]')
job_search.send_keys('Data scientist')

3.	Then click the search button.

In [48]:
# lets click on search
ser_loc = driver.find_element(By.CLASS_NAME,"qsbSubmit")
ser_loc.click()

4.	Then apply the location filter and salary filter by checking the respective boxes

In [49]:
location_filter =driver.find_element(By.XPATH,'/html[1]/body[1]/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[1]/span[1]')
location_filter.click()

In [50]:
salary_filter =driver.find_element(By.XPATH,'/html[1]/body[1]/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[1]/span[1]')
salary_filter.click()

In [51]:
# creating 4 empty list for job title, job location, company name, experience required
job_title = []
job_location = []
company_name = []
experience_required = []

# scraping job_title
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]'):   # getting all the job title tags
    job_title.append(i.text)                                                    # appending the text of title tags in empty list
    job_title = job_title[:10]                                                  # getting first 10 job title
    
# scraping job locations
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]'):
    job_location.append(i.text)
    job_location = job_location[:10]
    
# scraping company name
for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]'):
    company_name.append(i.text)
    company_name = company_name[:10]
    
# scraping experience required
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]'):
    experience_required.append(i.text)
    experience_required = experience_required[:10]

In [52]:
#lets check the title
job_title

['Data scientist _Tata Consultancy Services(Tcs)',
 'Data Science Senior Analyst',
 'Data Scientist - II',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Sr Data Scientist',
 'Hiring For Senior Data Scientist']

In [53]:
#lets 10 job location
job_location

['Kochi/Cochin, Indore, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, delhi ncr',
 'India, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Kochi/Cochin, New Delhi, Bangalore/Bengaluru, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru']

In [54]:
#lets check the company name
company_name

['TATA CONSULTANCY SERVICES (TCS)',
 'Accenture',
 'SMARTPADDLE TECHNOLOGY PVT. LTD.',
 'Wipro',
 'Applied Materials',
 'Applied Materials',
 'Applied Materials',
 'Applied Materials',
 'Caterpillar Inc',
 'TATA CONSULTANCY SERVICES (TCS)']

In [55]:
#lets check the experience
experience_required

['9-14 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '11-21 Yrs',
 '7-10 Yrs',
 '7-10 Yrs',
 '7-10 Yrs',
 '7-10 Yrs',
 '1-10 Yrs',
 '8-13 Yrs']

In [56]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [57]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'experience_required':experience_required})
df

,Job_title,Job_location,Company_name,experience_required
0,Data scientist _Tata Consultancy Services(Tcs),"Kochi/Cochin, Indore, New Delhi, Hyderabad/Sec...",TATA CONSULTANCY SERVICES (TCS),9-14 Yrs
1,Data Science Senior Analyst,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-5 Yrs
2,Data Scientist - II,"India, Bangalore/Bengaluru, Mumbai (All Areas)",SMARTPADDLE TECHNOLOGY PVT. LTD.,3-6 Yrs
3,Urgent Job Opening For AI Practitioner - Data ...,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",Wipro,11-21 Yrs
4,Data Scientist,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
5,Data Scientist,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
6,Data Scientist,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
7,Data Scientist,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
8,Sr Data Scientist,Bangalore/Bengaluru,Caterpillar Inc,1-10 Yrs
9,Hiring For Senior Data Scientist,"Pune, Bangalore/Bengaluru",TATA CONSULTANCY SERVICES (TCS),8-13 Yrs